@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Kaisei Opti", serif;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
}
body {
  background: linear-gradient(to bottom, #2C286B 50%, #752a2a  100%);
  background-attachment: fixed;
}
.header {
  padding: 2.5rem;
  margin: auto;
  font-size: 2rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center; /* centraliza o conjunto na tela */
  align-items: center;
  gap: 100px; /* espaço entre texto e imagem */
  padding: 40px;
  flex-wrap: wrap; /* garante responsividade */
}

.texto-analise {
  max-width: 600px;
  text-align: justify;
  color: white;
  font-family: 'Kaisei Opti', serif;
  line-height: 2.0;
  font-size: 1.6rem;
}

.imagens {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.imagens img {
  max-width: 300px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.buttonHome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.buttonHome button{
  background-color: #2C286B;
  color: white;
  padding: 1.5rem;
  border: solid 1px #A5A5A5;
  border-radius: 16px;
  box-shadow: 2px 9px #18153d1a;
  cursor: pointer;
  font-size: 2.0rem;
  text-align: center;
}

.buttonHome :hover {
  background-color: #322e68;
  color: #FFFFFF;
  opacity: 0.7;
  transition: 0.6s;
}