@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Kaisei+Opti&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Electrolize", sans-serif;
  font-style: normal;
  color: #FFFFFF;
}
body {
  background-image:url(./img/background.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}
.header {
  padding: 1.5rem;
  margin: auto;
  font-size: 2rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 100px; 
  padding: 40px;
  flex-wrap: wrap; 
}

.container-form {
  background-color: #1e1b4b;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-form .text-form {
  text-align: center;
  font-size: 1.3rem;
  padding: 0.5rem;
}

.container-form .generic-button{
  font-size: 1.5rem;
}

.container-form h3 {
  font-size: 1.6rem;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
}

.container-form label {
  font-size: 1.2rem;
  margin-bottom: 4px;
  color: #FFFFFF;
  text-align: left;
}

.container-form input {
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #f2f2f2;
  color: #000;
}

.container-form li {
  font-size: 1.2rem;
}

.container-form input:focus {
  box-shadow: 0 0 0 2px #a78bfa; /* Roxinho de foco */
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  background-color: #2C286B;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
}

li strong {
  color: #a78bfa;
}
